{% set menu_big = theme_var('menu_big') ? true %}

<!--
<div class="uk-navbar-content uk-navbar-{{ align }} uk-visible-large">
    {% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
    <a href="{{ home_url }}" class="navbar-brand">
    {% if logo %}
        {% set logo_file = (logo|first).name %}
        <img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" width="80" />
    {% else %}
        {% include('@images/logo.svg') %}
    {% endif %}
    </a>
</div>
-->

<div class="uk-navbar-content uk-visible-large uk-navbar-{{ align }}">
    {% set logo_desktop = theme_var('custom_logo') %}
    <a href="{{ home_url }}" class="navbar-brand">
    {% if logo %}
        {% set logo_file_desktop = (logo_desktop|first).name %}
        <img src="{{ url('theme://images/logo/' ~ logo_file_desktop)  }}" alt="{{ site.name }}" class="uk-visible-large" width="80" />
    {% else %}
        {% include('@images/logo.svg') %}
    {% endif %}
    </a>
</div>

{% if menu_big == false %}
<div class="uk-navbar-content uk-hidden-large uk-navbar-left">
    {% set logo_mobile = theme_var('custom_logo_mobile') %}
    <a href="{{ home_url }}" class="navbar-brand">
    {% if logo %}
        {% set logo_file_mobile = (logo_mobile|first).name %}
        <img src="{{ url('theme://images/logo/' ~ logo_file_mobile)  }}" alt="{{ site.name }}" class="uk-hidden-large" width="30" />
    {% else %}
        {% include('@images/logo.svg') %}
    {% endif %}
    </a>
</div>
{% endif %}